.layout {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.row.second,
.row.fourth {
  margin-left: 40px;
}
.row.third {
  margin-left: 60px;
}
.key {
  width: 80px;
  height: 80px;
  border: solid 1px red;
}
.keyvalue {
  display: none;
}
